/* * {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    background-size: cover;
}

main {
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

.formulario-login {
    max-width: 500px;
    width: 80%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

#formAnioDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    min-width: 200;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
}

.btn-principal {
    padding: 0.5rem;
    background-color: #0f5474;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
    color: white;
}

.btn-principal:hover {
    transform: scale(1.1);
}

.btn-principal:disabled,
.btn-principal[disabled] {
    transform: none;
    cursor: not-allowed;
    opacity: 0.7;
}

.radioButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 1rem;
    gap: 2rem;
}

.radioButtons input {
    display: inline-block;
}

.radioButtons label {
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    overflow-y: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.tabla {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;

}

.tabla th,
.tabla td {
    padding: 0.2rem 0.5rem;
    text-align: left;
    border: none;
    color: rgb(0, 0, 0);
}

.tablahisotir {
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;

}

.tablahisotir th,
.tablahisotir td {
    padding: 0.2rem 0.5rem;
    text-align: left;
    border: none;
    color: rgb(0, 0, 0);
}

.divTabla {
    width: 80%;
    margin: 2rem;
}

.btn-eliminar {
    background-color: rgba(255, 0, 0, 0.809);
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.btn-eliminar:hover {
    background-color: rgba(173, 23, 23, 0.809);
}

#paginationContainer {
    margin-top: 1rem;
}

#paginationContainer button {
    margin: 1rem;
    border: 2px solid #0f5474;
    background-color: #0f5474;
    color: white;
    padding: 0.5rem;
}

#paginationContainer button:hover {
    transform: scale(1.1);
}

#paginationContainer button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

#paginationContainer button:disabled:hover {
    transform: none;
}

.back {
    border: 2px solid #0f5474;
    background-color: white;
    color: #0f5474;
    padding: 0.5rem;
    margin: 1rem;
}

.back:hover {
    transform: scale(1.1);
}

h1 {
    margin-bottom: 1rem;
}

select {
    height: 38px;
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    color: #333;
}

select option {
    padding: 6px;
}

select option:first-child {
    display: none;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #000000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1000px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        margin-right: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: rgb(255, 255, 255);
    }

    #check:checked~ul {
        left: 0;
    }
}

.sectionts_especimen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.section_especimen {
    gap: 3rem;
}

.section_especimen div {
    margin: 1rem 0;
}

.input_form_inter {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.btn_add {
    border: none;
    background-color: transparent;
    margin-left: 15px;
    transition: 0.4s;
    cursor: pointer;
}

.btn_add svg path {
    fill: #0f5474;
}


.custom-file-upload {
    display: inline-block;
    padding: 0.5rem;
    cursor: pointer;
    background-color: white;
    
    border: 2px solid #0f5474;
    margin-bottom: 1rem;
}

.custom-file-upload:hover {
    transform: scale(1.1);
}

.radioButtons {
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.radioButtons div {
    display: flex;
    align-items: center;
}

.radioButtons div input[type="radio"] {
    margin-right: 5px;
}

.input_form{
    margin: 1rem;
} */



/* 



.cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
    display: none;
}

#cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
    display: none;
    pointer-events: none;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}


section {
    background: #1b1a1a;
    color: white;
    height: 100%;
}

.about h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    text-align: justify;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 5rem 1rem 5rem;
    text-align: justify;
    position: relative;
}

.about::before,
.about::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 10px;
    background-color: rgb(255, 255, 255);
}

.about::before {
    top: -20px;
    height: 40px;
}

.about::after {
    bottom: -40px;
    height: 40px;
}

.contact h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 5rem 4rem 5rem;
    padding: 3rem;
    text-align: justify;
    position: relative;
}

.contact::before,
.contact::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
}

.contact::before {
    top: -20px;
    height: 40px;
    margin: 1rem;
}

.contact::after {
    bottom: -40px;
    height: 40px;
    margin: 1rem;
}


.btn-inicioSesion {
    border: none;
    outline: none;
    color: white;
    background-color: #0f5474;
    padding: 0.5rem 1rem;
}

.btn-inicioSesion a {
    text-decoration: none;
    color: white;
}

.btn-inicioSesion:hover {
    background-color: #0f5474;
    transform: scale(1.2);
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.masthead {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../assets/img/fondo.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.imagen img {
    position: relative;
    width: 100%;
    height: 200px;
    object-position: 30% 80%;
}







* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

@media all and (min-width: 600px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .toggle {
        order: 1;
    }

    .item.button {
        order: 2;
    }

    .item {
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
    }

}


@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }
}

.radioButtons {
    display: flex;
    align-items: flex-start;
}

.radioButtons div {
    display: flex;
    align-items: center;
}

.radioButtons div input[type="radio"] {
    margin-right: 5px;
}

@media (max-width: 768px) {

    .tabla th:last-child,
    .tabla td:last-child {
        display: none;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        overflow-y: auto;
    }
}

.cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
    display: none;
}

#cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
    display: none;
    pointer-events: none;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}

nav ul {
    margin-right: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #000000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1000px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        margin-right: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: rgb(255, 255, 255);
    }

    #check:checked~ul {
        left: 0;
    }
}

.contenedor {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    width: 400px;
    height: 350px;
    margin: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 img {
    max-width: 100%;
    max-height: 100%;
    min-width: 98%;
    min-height: 98%;
}

.item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    box-sizing: border-box;
    background-color: #ffffff;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #ffffff;
}

.item3 div {
    margin: 1rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infodeespecimen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butonesespecimen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.butonesacciones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

@media (min-width: 600px) {
    .contenedor {
        font-size: 1.5rem;
    }

    .contenedor button {
        font-size: 2rem;
    }
}

.especimenescontainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorcheck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.formularioBuscra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_carrito {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 80%;
    max-width: 350px;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all .35s ease-in;

    z-index: 1;
}

.modal_carrito::after {
    position: fixed;
    top: 0;
    right: 350px;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;

    opacity: 0;
    content: '';
    pointer-events: none;
    transition: all .35s ease-in;
}

.modal_carrito.active {
    visibility: visible;
    opacity: 1;
    transform: none;
}

.modal_carrito.active::after {
    opacity: 1;
    pointer-events: auto;
}

.modal_carrito__container {
    height: 100%;
    padding: 30px;
    position: relative;
    z-index: 1000;
}

.modal_carrito__close {
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal_carrito__info {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.modal_carrito__header {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ffffff;
}

.modal_carrito__body {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    flex-grow: 1;
}

.divCarrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem 0;
}

.modal_carrito__footer {
    border-top: 1px solid #ffffff;
    padding-top: 0.5rem;
    margin: 2.5rem 0;
}

svg {
    pointer-events: none;
}

.sepadardor {
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom: 1px solid #ffffff;
}

.divcheck {
    margin: 1rem;
}

.detallesEspecimen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.RBT-GENERAL {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.etiquetas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.etiqueta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
}

.btn-success {
    background-color: rgb(20 184 140);
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.btn-success:hover {
    background-color: rgb(14, 134, 102);
}

.btn-delete {
    background-color: rgb(184, 20, 20);
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.btn-delete:hover {
    background-color: rgb(108, 11, 11);
}

.btn-primary {
    background-color: rgb(20, 94, 184);
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.btn-primary:hover {
    background-color: rgb(11, 48, 108);
}

.mySlidesCarrosel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prevCarrosel {
    position: absolute;
    left: 5%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.nextCarrosel {
    position: absolute;
    left: 91.8%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.prevCarrosel:hover,
.nextCarrosel:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#cartCarrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.y {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.y div {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.y p {
    color: rgb(62, 62, 62);
    font-size: 25px;
}

 */



* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    background-size: cover;
}

main {
    margin: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

.formulario-login {
    max-width: 500px;
    width: 80%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


#navHome {
    background: #000000;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

#navHome a{
    color: white;
    margin-left: 2rem;
}
input {
    min-width: 200;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
}

.btn-principal {
    padding: 0.5rem;
    background-color: #0f5474;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
    color: white;
}

.btn-principal:hover {
    transform: scale(1.1);
}